* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    width: 100px;
    flex: 0 0 30%;
}

.screen {
    width: 100%;
    font-size: 40px;
    padding: 0.5rem;
    background: black;
    color: white;
    border: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}

button {
    flex: 0 0 25%;
    border: 1px solid black;
    padding: 0.25rem 0;
    transition: all 0s ease;
}

button:hover {
    background: darkgray;
}

.btn-yellow {
    background: black;
    color: green;
}

.btn-grey {
    background: black;
    color: blanchedalmond;
}

.btn,
.btn-equal,
.btn-clear {
    font-size: 4rem;
}

.btn-equal {
    flex: 0 0 50%;
    background: black;
    color: green;
}

.btn-clear {
    background: black;
    color: red;
}
